* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color: #111;
    color: white;

    font-family: "Montserrat", sans-serif;

}



h1,
.logo {

    font-family: "Cormorant Garamond", serif;

}



.header {

    width: 100%;
    height: 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 80px;

    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(17, 17, 17, 0.9);
    z-index: 1000;
}



.logo {

    font-size: 32px;
    font-weight: bold;
    letter-spacing: 2px;

}
.navbar {
    display: flex;
    gap: 35px;
}
.navbar a {
    color: white;
    text-decoration: none;
    font-size: 16px;

}
.navbar a:hover {

    color: #c9a227;
    transition: 0.3s;
}


.hero {

    height: calc(100vh - 80px);

    background-image:
    linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
    url("../images/restaurant.jpg");

    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

}



.hero-content {

    max-width: 700px;

}



.hero h1 {

    font-size: 60px;
    margin-bottom: 25px;

}



.hero p {

    font-size: 20px;
    line-height: 1.6;

    margin-bottom: 40px;

}



.btn {

    display: inline-block;

    padding: 15px 35px;

    background-color: #c9a227;

    color: white;

    text-decoration: none;

    border-radius: 5px;

    font-size: 18px;

    transition: 0.3s;

}



.btn:hover {

    opacity: 0.8;

}

.menu {

    padding: 100px 80px;

    background-color: #181818;

}



.section-title {

    text-align: center;

    margin-bottom: 60px;

}



.section-title h2 {

    font-size: 45px;

    margin-bottom: 15px;

}



.menu-items {

    display: flex;

    justify-content: center;

    gap: 30px;

}



.card {

    width: 300px;

    padding: 35px;

    background-color: #222;

    border-radius: 10px;

}



.card h3 {

    font-size: 25px;

    margin-bottom: 15px;

}



.card p {

    line-height: 1.6;

    color: #ccc;

    margin-bottom: 20px;

}



.card span {

    color: #c9a227;

    font-size: 22px;

    font-weight: bold;

}

.about {

    display: flex;

    align-items: center;

    gap: 60px;

    padding: 100px 80px;

}



.about-image {

    flex: 1;

}



.about-image img {

    width: 100%;

    border-radius: 10px;

}



.about-content {

    flex: 1;

}



.about-content h2 {

    font-size: 50px;

    margin-bottom: 25px;

}



.about-content p {

    line-height: 1.8;

    color: #ccc;

    margin-bottom: 20px;

}



.reservation {

    min-height: 600px;

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    background-color: #111;

}


.reservation-form {

    display: flex;

    flex-direction: column;

    gap: 20px;

    width: 400px;

    margin: 0 auto;

    padding: 40px;

    border-radius: 15px;

}


input:focus {

    outline: none;

    border-color: #c9a227;

}


.reservation-form input {

    padding: 15px;

    background-color: #222;

    border: 1px solid #444;

    color: white;

    font-size: 16px;

    border-radius: 5px;

}



.reservation-form input:focus {

    outline: none;

    border-color: #c9a227;

}



.reservation-form button {

    padding: 16px;

    background-color: #c9a227;

    color: #ffffff;

    border: none;

    font-size: 17px;

    cursor: pointer;

    border-radius: 8px;

    font-weight: 600;

    transition: background-color 0.4s ease,
                box-shadow 0.4s ease,
                transform 0.4s ease;



}


.reservation-form button:hover {

    background-color: #ddb533;

    box-shadow: 0 8px 20px rgba(201, 162, 39, 0.35);


}


.reservation-container {

    width: 450px;

    padding: 45px;

    background-color: #1c1c1c;

    border-radius: 15px;

    box-shadow: 0 15px 40px rgba(0,0,0,0.4);

}


.reservation-container h2 {

    text-align: center;

    font-size: 40px;

    margin-bottom: 35px;

}


@media (max-width: 768px) {


    .navbar {

        display: none;

    }


    .menu-toggle {

        display: flex;

        flex-direction: column;

        gap: 6px;

        cursor: pointer;

    }


    .menu-toggle span {

        width: 30px;

        height: 3px;

        background-color: white;

        transition: 0.3s;

        transform-origin: center;

    }


    .navbar.active {

        display: flex;
    
        flex-direction: column;
    
        position: absolute;
    
        top: 80px;
    
        right: 0;
    
        width: 100%;
    
        background-color: rgba(17, 17, 17, 0.95);
    
        padding: 30px;
    
        gap: 25px;
    
    }

    .menu-toggle.active span:nth-child(1) {

        transform: rotate(45deg) translate(6px, 6px);
    
    }
    
    
    .menu-toggle.active span:nth-child(2) {
    
        opacity: 0;
    
    }
    
    
    .menu-toggle.active span:nth-child(3) {

        transform: rotate(-45deg) translate(6px, -6px);
    
    }

}

